<footer class="footer text-center text-lg-start text-muted">
  <section
    class="d-flex justify-content-center justify-content-lg-between p-4 border-bottom container"
  >
    <div class="me-5 d-none d-lg-block">
      <span>Email: gvodeveloper@gmail.com</span>
    </div>

    <div>
      <a
        target="_blank"
        href="https://www.linkedin.com/in/octavio-gauna-62b0a2202/"
        class="me-4 link-secondary"
      >
        <i class="fab fa-facebook-f"
          ><img
            src="assets/redes/linkedin.svg"
            width="50"
            height="50"
            style="object-fit: cover"
        /></i>
      </a>

      <a
        target="_blank"
        href="https://twitter.com/oct1_gauna"
        class="me-4 link-secondary"
      >
        <i class="fab fa-facebook-f"
          ><img
            src="assets/redes/twitter.svg"
            width="50"
            height="50"
            style="object-fit: cover"
        /></i>
      </a>

      <a
        target="_blank"
        href="https://www.instagram.com/octavio.gauna"
        class="me-4 link-secondary"
      >
        <i class="fab fa-facebook-f"
          ><img
            src="assets/redes/insta.svg"
            width="50"
            height="50"
            style="object-fit: cover"
        /></i>
      </a>
    </div>
  </section>

  <div class="text-center p-4" style="background-color: rgba(0, 0, 0, 0.025)">
    © 2023 Copyright:
    <a class="text-reset fw-bold" href="https://mdbootstrap.com/"
      >ogdeveloper.web.app</a
    >
  </div>
</footer>
