<div class="login">
  <div class="login__wrapper container">
    <form class="login__wrapper__form">
      <h3 class="fs-2">Login</h3>
      <div class="mb-3 row">
        <label for="emailDefault" class="col-form-label">Email</label>
        <div class="col-sm-12">
          <input
            type="text"
            readonly
            class="form-control-plaintext"
            id="emailDefault"
            value="gvodeveloper@gmail.com"
          />
        </div>
      </div>
      <div class="mb-3 row">
        <label for="inputPassword" class="col-form-label">Password</label>
        <div class="col-sm-12">
          <input
            type="password"
            class="form-control"
            id="inputPassword"
            value="gvodeveloper"
          />
        </div>
      </div>

      <button class="btn btn-block btn-dark w-100">Ingresar</button>
    </form>

    <img src="assets/boy.png" class="login__wrapper__ilustration" />
  </div>
</div>
