.login {
  width: 100%;
  height: 100vh;
  position: relative;
  overflow: hidden;
}

.login__wrapper {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.login__wrapper__ilustration {
  position: absolute;
  bottom: 0;
  right: 0;
  width: 200px;
}

@media (max-width: 800px) {
  .login__wrapper {
    position: relative;
  }
}
