/* SOBRE MI */
.home__wrapper__about {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
}

.btn-edit {
  position: absolute;
  right: 0;
  top: 0;
}

.home__wrapper__about__info {
  color: var(--font-color);
  position: relative;
}
.home__wrapper__about__info__title {
  font-size: 2em;
  margin: 30px 0;
  font-weight: 800;
  color: white;
}
.home__wrapper__about__info__important {
  color: tomato;
  font-weight: bold;
  font-size: 0.9em;
}

.home__wrapper__about__info__p {
  text-align: justify;
}

.home__wrapper__about__photo {
  background-image: url("../../../../../assets/kabby.png");
  background-size: contain;
  width: 100%;
  background-position: center;
  height: 250px;
  background-repeat: no-repeat;
}

/* MEDIA QUER */
@media (max-width: 800px) {
  .home__wrapper__about {
    grid-template-columns: 1fr;
  }

  .home__wrapper__about__photo {
    display: none;
  }
}

@media (max-width: 600px) {
  .home__wrapper__about {
    font-size: 14px;
  }
}

@media (max-width: 450px) {
  .home__wrapper__about {
    font-size: 12px;
  }
}
